APP_ENVIRONMENT=local
ALLOW_MOCK_FOUNDRY=true
PROJECT_ENDPOINT=
FOUNDRY_AGENT=OperationsEngineering
FOUNDRY_AGENT_ID=
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=
AZURE_OPENAI_SUMMARY_DEPLOYMENT_NAME=
AZURE_TENANT=
M365_TENANT=
BOT_ID=
REQUIRE_BOT_AUTH=false
OBO_CLIENT_ID=
OBO_CLIENT_SECRET=
GRAPH_SCOPES=openid,profile,offline_access,User.Read
